body{
    background-color: #80B9AD;
    font-weight: 500;
}
.intro{
    font-weight:500;
}
.sec{
    background-color: #538392;
    padding: 0;
    margin: 0;
}
.but{
    background-color: #6295A2;
}
@media (max-width:1110px) {
    .ph{
        display: block;
    }
    .logophone{
        height:70vw ;
        width:70vw;
    }
    
}
.f{
    text-align: center;
    font-weight: bold ; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
